@font-face {
  font-family: "GothamMedium";
  src: url("../fonts/GothamMedium.ttf");
}

@font-face {
  font-family: "GothamBook";
  src: url("../fonts/GothamBook.ttf");
}

@font-face {
  font-family: "MiriadRegular";
  src: url("../fonts/MyriadPro-Regular.ttf");
}

@font-face {
  font-family: 'GothamBold';
  src: local('Gotham Bold'), local('Gotham-Bold'),
      url('../fonts/Gotham-Bold.woff2') format('woff2'),
      url('../fonts/Gotham-Bold.woff') format('woff'),
      url('../fonts/Gotham-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}