@mixin fontGothamMedium($size) {
  font-family: "GothamMedium", sans-serif;
  font-size: $size;
}

@mixin fontGothamBook($size) {
  font-family: "GothamBook", sans-serif;
  font-size: $size;
}

@mixin fontGothamBold($size) {
  font-family: "GothamBold", sans-serif;
  font-size: $size;
}

@mixin fontMiriadRegular($size) {
  font-family: "MiriadRegular", sans-serif;
  font-size: $size;
}

@mixin fontRoboto($size) {
  font-family: 'Roboto Condensed', sans-serif; 
  font-size: $size;
}

@mixin setIcomoon($size) {
  font-family: icomoon, sans-serif;
  font-size: $size;
}


@mixin sircleIco($size, $icoContent, $icoSize) {
  display: flex;
  align-items: center;
  justify-content: center;

  width: $size;
  border: 1px solid #fff;
  border-radius: 50%;

  &::before {
    @include setIcomoon($icoSize);
    line-height: $size;
  }
}
