$GothamMedium: 'GothamMedium';
$GothamBook: 'GothamBook';
$MyriadRegular: 'MiriadRegular';


$primary-color: #11749e;
$primary-color-lighter: #2e85aa;

$secondary-color: #222222;
$secondary-color-reverse: #f3f3f3;


$bar-menu-active: $primary-color-lighter;
$color-home-title: #f5f5f5;